a {text-decoration: none}
#main {position: fixed; top: 2em; left: 0; right: 0; bottom: 0; overflow: auto}
#header {position: fixed; top: 0; left: 0; right: 0; height: 2em}
#toolbar {position: absolute; top: 0; left: 0}
#navigation {position: absolute; top: 0; right: 0; text-align: right}
body {font-family: Helvetica, Arial, sans-serif}
input {font-family: inherit}
textarea {font-family: inherit}
select {font-family: inherit}
.link.off {color: darkblue; background: white}
.link.on {color: white; background: darkblue}
